body,
html {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw;
  height: 100vh;
}

div.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #E9EBEE;
  align-items: center;
}
